*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wengeb-rown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --family-outfit: 'Outfit', sans-serif;
  --family-serif: 'Young Serif', serif;
}

body {
  margin: 0;
  font-family: var(--family-outfit);
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  body {
    background-color: var(--eggshell);
  }
}

img {
  max-width: 100%;
  display: block;
}

.main {
  padding: 0.5em 1.5em 1.5em;
}

@media screen and (min-width: 768px) {
  .container,
  .header {
    border-radius: 1.5em;
  }

  .header {
    overflow: hidden;
  }
  .container {
    padding: 2em;
    max-width: 740px;
    margin: 5em auto;
    background-color: var(--white);
  }
}

.recipe-container,
.instructions {
  border-bottom: 1px solid var(--light-grey);
}

.recipe-title {
  font-family: var(--family-serif);
  font-weight: 400;
  font-size: 2rem;
}

.recipe-description {
  color: var(--wengeb-rown);
  line-height: 1.5;
  margin-bottom: 2em;
}

.recipe-container__preparation {
  background-color: var(--eggshell);
  border-radius: 0.5em;
  padding: 1em;
  font-size: 1.2rem;
}

.recipe-preparation {
  margin-left: 0.5em;
  color: var(--dark-raspberry);
  font-weight: normal;
}

::marker {
  color: var(--dark-raspberry);
}

.menu__item {
  margin-bottom: 0.5em;
}

.menu__item-space {
  padding-left: 0.8em;
}

.menu__item-height {
  line-height: 1.5;
}

.recipe-container__title,
.instructions__title,
.nutritions__title {
  font-family: var(--family-serif);
  font-size: 1.8rem;
  color: var(--nutmeg);
  font-weight: normal;
}

.nutritions__text {
  font-size: 1.01rem;
  line-height: 1.5;
}

.menu {
  margin-bottom: 1.8em;
}

/* .table__data,
.table__head {
  border-bottom: 1px solid black;
} */

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  /* empty-cells: hide; */
}

.table__row {
  border-bottom: 1px solid var(--light-grey);
  line-height: 3.5;
}

.nutmeg {
  color: var(--nutmeg);
  font-weight: 700;
}

.grey {
  color: var(--wengeb-rown);
  font-weight: 400;
}
